h1 {
  text-align: center;
}

.cardContainer {
  width: 60%;
  max-width: 725px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px auto;
  justify-items: center;
  align-items: center;
  gap: 10px;
}