h1 {
  text-align: center;
}

.cardContainer {
  width: 60%;
  max-width: 725px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px auto;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.loadMoreButton {
  display: block;
  width: 70%;
  padding: 15px 50px;
  font-size: 3em;
  color: #ffffff;
  border: none;
  margin: 20px auto;
  background-color: #32d9fa;
  border-radius: 30px;
  cursor: pointer;
}